*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono";
    /* font-size: 16px ; */
    /* color: white; */
}

body{

    background-color: #f5f5f5;
    color: #000;
}
h1{
    margin-bottom: 10px;
}
.modal-edicion{
    
    display: none;
    /* flex-direction: column; */
    /* gap: 30px; */
    width: 100vw;
    height: 100vh;
    background-color: white;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.container-modal{
    
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    position: relative;
    
}
.producto-data input{

    margin-bottom: 20px;
    
    
}

.cerrar-editar{
    position: absolute;
    left: 550px;
    top: 10px;
}

.producto-data{
    
    /* background-color: salmon; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.btn-enviar-nuevo-prod{
    
    align-self: center;
    width: 200px;
}

.modal{

    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;

    
}

.container-modal h3{
    font-size: 20px;
    font-family: sans-serif;
    
}
.botones-modal{
    display: flex;
    justify-content: space-around;
}

.btn-confirmar-modal, .cancelar-modal{
    
    padding: 10px 60px;
    border-radius: 12px;
    border: 1px solid black;
    transition: 0.5s;
    background-color: white;
    cursor: pointer;
}

.btn-confirmar-modal:hover, .cancelar-modal:hover{

    background-color: rgb(175, 168, 168);
}

.modal-activacion{
    
    display: none;
}

button{

    background-color: aliceblue;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    
}

button:hover{

    background-color: rgb(203, 222, 240);
    
    
}

